*, html, body {
  padding: 0;
  margin: 0;
}
/* variabel cuy */
:root {
  --bg-primary: #085394;
  --bg-secondary: #eaeaea;
  --text-primary: #f7f7f7;
  --text-secondary: #000000;
  --text-trird: #9FC5F8;
}
/* header cuy */
header {
  color: var(--text-trird);
  background-color: var(--bg-primary);
  padding: 30px 20px;
  font-size: 40px;
  width: auto;
  height: 50px;
}
/* main cuy */
main {
  width: 100%;
  height: 90vh;
  background-color: var(--bg-primary);

}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.card {
  border: 2px solid white;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 20px;
  margin: 8px;
}
img {
  height: 18em;
}
.text-center {
  text-align: center;
}
.description {
  margin-top: 8px;
  font-size: .5em;
}
button {
  margin-top: 16px;
  padding: 8px;
  cursor: pointer;
  border: none;
  width: 100%;
}
button:hover {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transform: rotate(1deg);
}
/* footer cuy */
footer {
  color: var(--text-primary);
  background-color: var(--text-secondary);
  height: 2px;
  text-align: center;
  font-size: 25px;
  padding: 43px;
}
@media screen and (max-width: 771px) {
  body {
    display: none;
  }
}